@import "tailwindcss";

:root{

    --dark-color: #2D3142;
    --gray-color: #BFC0C0;
    --white-color: #FFFFFF;
    --orange-color: #EF8354;

    --opacity-dark-color: rgba(45, 49, 66, 0.75);
    --opacity-gray-color: rgba(191, 192, 192, 0.5);
    --opacity-darker-color: rgba(45, 49, 66, 0.9);

}

::-webkit-scrollbar {

    width: 5px;
    background-color: var(--white-color);

}

::-webkit-scrollbar-thumb {

    background-color: var(--orange-color);

}

.swiper-pagination-bullet {
    background-color: var(--gray-color) !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--orange-color) !important;
}